<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure
        link(rel="stylesheet", href="/main.css")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")

    body
        div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
        div.main-container
            h1 Victure - The autodeleting uploading site
            p An uploading site which automatically deletes content after a chosen time which ranges between 5-60 minutes.
            p The site was made for my Webdesign/programming course and was made using Node.js.
            p The repository can be found 
                a(href="https://github.com/samhamnam/victure") here
                a .
            p You can contact me using 
                a(href="mailto:samuel.hammersberg@gmail.com") samuel.hammersberg@gmail.com
                a .

    script(src="/main.js")