<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure
        link(rel="stylesheet", href="/main.css")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")

    body
        div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
        div.main-container
            h1 Victure - The autodeleting uploading site
            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque libero nec risus congue fringilla. Sed feugiat metus molestie justo tempor consequat. Vivamus sed orci ac purus elementum convallis eget non risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ipsum ante, commodo sit amet nunc et, dictum ultricies lacus. Donec eleifend justo libero, at posuere sem volutpat nec. Nulla facilisi. Sed pretium volutpat massa, pulvinar convallis ipsum molestie quis. Suspendisse potenti. Suspendisse dictum metus vitae lectus dictum sagittis. Phasellus nec bibendum est.

            p Phasellus vitae ante metus. Fusce in erat eget augue vulputate hendrerit sed nec tellus. Vivamus justo magna, pretium sit amet mi vitae, tempus facilisis felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec convallis ipsum porttitor, auctor nibh eu, dictum dolor. Nullam hendrerit laoreet diam, nec aliquet arcu dictum rutrum. Vivamus at tellus ullamcorper, luctus lacus non, molestie metus. 

    script(src="/main.js")