<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure - Upload
        link(rel="stylesheet", href="/upload/main.css")

    body
        div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button-top(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
        div.upload-container#upload-container
            div#test-image(style="display:none;")
                img#test-image-inside(src="")

            div.upload-div#upload-div(ondrop="dropHandler(event);" ondragover="dragOverHandler(event);")
                div.upload-button#upload-button(onclick="fileUpload()")
                    h1 Upload
                    a.upload-arrow ↑
                    input#file-input(type="file" name="file-input" style="display: none;" accept="^image/*" onchange="fileUploadButton(this.files);")

            div#upload-after-buttons(style="display: none;")
                button(onclick="reloadPage();" style="background-color: red;") Cancel
                button(onclick="sendImage();" style="background-color: green;") Upload
                span
                    a Timeout:
                    input#timeout-range(oninput="updateDeleteTimer();" min="1" max="12" value="3" type="range")
                a#timeout-time-a 1:25h

    script(src="/upload/main.js")