@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(24, 24, 24);
    color: white;
}

input {
    outline: none;
    max-width: 100%;
}

.top-bar {
    position: absolute;
    top: 0px;
    height: 64px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
}

.top-bar button {
    font-family: 'Raleway', sans-serif;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
}

.top-bar button:active {
    background-color: rgba(0, 0, 0, 0.25);
}

#victure-button {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
}

#upload-button-top {
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
}

.upload-div {
    position: relative;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 2;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(50, 50, 50);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
    min-height: 300px;
}

.upload-button {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    cursor: pointer;
    padding-bottom: 20px;
}

.upload-container {
    position: relative;
    top: 84px;
    padding-top: 10px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: auto 20px;
    margin: 0;
    transition-duration: 0.5s;
}

.upload-div h1 {
    user-select: none;
}

#test-image {
    width: 100%;
    margin-bottom: -3px;
}

#test-image-inside {
    max-width: 100%;
}

.upload-arrow {
    font-size: 20px;
    background-color: rgb(50, 50, 50);

    color: wheat;
    padding: 5px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#upload-after-buttons {
    grid-row: 2;
    width: 100%;
    grid-column: 2;
    font-size: 20px;
    border-radius: 0 0 20px 20px;
}

#upload-after-container {
    grid-column: 2;
    background-color: rgb(50, 50, 50);
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
}

#upload-after-title {
    text-align: left;
    margin-left: 10px
}

#upload-after-buttons button {
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 40px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgba(245, 222, 179, 0.507);
    cursor: pointer;
    transition-duration: 0.2s;
}

#upload-after-buttons button:hover {
    opacity: 0.80;
}

#upload-after-buttons #upload-after-buttons-password {
    color: white;
}

#upload-after-buttons input[type=range] {
    background-color: transparent;
    margin-top: 10px;
}

#upload-after-buttons input[type=range]::-webkit-slider-thumb {
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

#upload-after-buttons input[type=range]::-webkit-slider-runnable-track {
    background-color: transparent;
    border: none;
}

#upload-after-buttons input[type=range]::-moz-range-thumb {
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

#upload-after-buttons input[type=range]::-moz-range-track {
    background-color: white;
    border: none;
}

@media only screen and (max-width: 500px) {
    #test-image {
        grid-row: 1;
        grid-column: 1;
    }

    .upload-container {
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
    }

    .upload-div {
        grid-row: 1;
        grid-column: 1;
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    .main-container-title {
        grid-template-rows: 300px 300px;
        grid-column: 1;
        margin: 10px;
    }

    #upload-after-buttons {
        grid-column: 1;
    }
}

.videoPlayer {
    width: 100%;
}