@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://samhamnam.github.io/defaultElements/defaultElements.css");

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

.upload-div {
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.15) 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 2;
}

.upload-button {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    cursor: pointer;
    padding-bottom: 20px;
}

.upload-container {
    padding-top: 10px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 300px;
    margin: 0;
    background: linear-gradient(to bottom, rgba(53, 11, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);
    transition-duration: 0.5s;
}

.upload-div h1 {
    user-select: none;
}

#test-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1;
    grid-column: 2;
    background-position-x: 50%;
    background-position-y: 50%;
}

.main-container-title {
    margin: 10px;
}

.upload-arrow {
    font-size: 20px;
    background-color: black;
    color: wheat;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#upload-after-buttons {
    grid-row: 2;
    width: 100%;
    height: 100%;
    grid-column: 2;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(245, 222, 179, 0.1);
    border-radius: 0 0 20px 20px;
    border: 5px rgba(245, 222, 179, 0.1) solid;
    margin-left: -2.5px;
}

#upload-after-buttons button {
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 40px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgba(245, 222, 179, 0.507);
    cursor: pointer;
    transition-duration: 0.2s;
}

#upload-after-buttons button:hover {
    opacity: 0.80;
}

#upload-after-buttons #upload-after-buttons-password {
    color: white;
}

#upload-after-buttons input[type=range] {
    background-color: transparent;
    margin-top: 10px;
}

#upload-after-buttons input[type=range]::-webkit-slider-thumb {
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

#upload-after-buttons input[type=range]::-webkit-slider-runnable-track {
    background-color: white;
    border: none;
}

#upload-after-buttons input[type=range]::-moz-range-thumb {
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

#upload-after-buttons input[type=range]::-moz-range-track {
    background-color: white;
    border: none;
}

@media only screen and (max-width: 500px) {
    #test-image {
        grid-row: 1;
        grid-column: 1;
    }

    .upload-container {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 100px;
    }

    .upload-div {
        grid-row: 1;
        grid-column: 1;
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    .main-container-title {
        grid-template-rows: 300px 300px;
        grid-column: 1;
        margin: 10px;
    }

    #upload-after-buttons {
        grid-column: 1;
    }
}