@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(24, 24, 24);
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 64px 40px 1fr 40px;
    width: 100%;
}

.top-bar {
    grid-column-start: 1;
    grid-column-end: 4;
    /*border-bottom: 5px rgba(0, 0, 0, 0.5) solid;*/
    box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-bar button {
    font-family: 'Raleway', sans-serif;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
}

.top-bar button:active {
    background-color: rgba(0, 0, 0, 0.25);
}

#victure-button {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
}

#upload-button {
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
}

.image-container img {
    width: 100%;
}

.image-container {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr 44px;
    border-radius: 15px;
    width: 100%;
    grid-row: 3;
    grid-column: 2;
    margin: 0;
    box-shadow: 0px 5px 55px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(50, 50, 50);
}

.image-container .title {
    position: relative;
    overflow: hidden;
    width: calc(100% - 25px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-overflow: ellipsis;
    padding-right: 25px;
}

.image-container .title h2 {
    font-family: 'Raleway', sans-serif;
    padding-left: 25px;
}

.image-container .title a {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 10px;
}

.image-container .delete {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 10px;
}

.image-container .delete a {
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.image-container .delete button {
    height: 100%;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
    color: white;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.image-container .delete button:active {
    background-color: rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 500px) {
    .main-container {
        grid-template-columns: 1fr 98% 1fr;
        text-overflow: ellipsis;
    }

    .image-container img {
        width: 100%;
    }

    .image-container .delete a {
        position: absolute;
        right: -25px;
        bottom: 0px;
        font-size: 12px;
        width: 200px;
        line-height: 22px;
    }
}

.video-player {
    width: 100%;
}

#file-element {
    margin-bottom: 10px;
    text-align: center;
}

#file-element a {
    color: white;
}