<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure - FAQ
        link(rel="stylesheet", href="/faq/main.css")

    body
        div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
        div.main-container
            h3 Victure - Why was this made?
            p It was the finishing project for my webdesign/programming course.
            hr
            h3 What was it made with?
            p The site uses 
                a(href="https://expressjs.com/") Express
                a for the server part and it uses 
                a(href="https://pugjs.org/api/getting-started.html") Pug
                a  as a renderer.
            hr
            h3 Where can the project be found?
            p The project can be found 
                a(href="https://github.com/samhamnam/victure") here
                a  on GitHub. If you have any issues or request you are welcome to submit them.
                br
                a If you get a 404 it is probably because I haven't made the repo public yet.

    script(src="/faq/main.js")