<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure - FAQ
        link(rel="stylesheet", href="/faq/main.css")

    body
        div.top-bar
                button#victure-button(onclick="openLink('/');") Victure
                button#upload-button(onclick="openLink('/upload');") Upload
                button(onclick="openLink('/faq');") FAQ
        div.main-container
            h3 Victure - Why was this made
            p  #legalizeawoo

    script(src="/faq/main.js")