<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Victure
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/files/main.css")
    body
        div.main-container
            div.image-container
                div.title
                    h2 #{pugImageTitle}
                    a Uploaded at: #{pugUploadTime}
                img(src= pugImage alt="Image")
                div.delete
                    button(onclick="copyLink();") Share
                    p Deletes at: #{pugDeleteTime}

        script(src="/files/moment.js")
        script(src="/files/main.js")
